taskItem {
    cursor: pointer;
}

    taskItem busy {
        cursor: auto;
        background-color: orange; /*debug*/
    }

input.hideBorder {
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
