input.hideBorder {
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    background: none;
}

.complete input {
    text-decoration: line-through;
}

input[type=checkbox] {
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    margin-top: 10px;
}
