<div class="list-group-item taskItem clearfix"
     [ngClass]="{ 'busy': isBusy }">

    <div class="col-xs-8">
        <form class="form-inline" #taskForm="ngForm" (ngSubmit)="trySave($event)">
            <input type="text"
                   class="form-control mb-2 mr-sm-2"
                   [ngClass]="{ 'hideBorder': !oldDesc }"
                   (blur)="taskForm.ngSubmit.emit()"
                   (focus)="onFocus($event)"
                   name="desc"
                   required
                   placeholder="Do a thing..."
                   [disabled]="isBusy"
                   [(ngModel)]="task.description">
        </form>
    </div>

    <div class="col-xs-3 pull-right">
        <a (click)="toggleComplete()">
            ({{ task.isComplete ? 'COMPLETE' : 'TBD...' }})
        </a>
    </div>

</div>