@{
    ViewBag.Title = "Home Page";
}
<my-app>
    <div class="row">
        <div class="col-xs-12" style="padding-top: 20px;">
            <h4>Loading App content here ...</h4>
        </div>
    </div>
</my-app>
